<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <div v-show="activo">
        <p>v-show</p>
        <input type="text" />
      </div>
      <div v-if="activo">
        <p>v-if</p>
        <input type="text" />
      </div>
      <hr />
      <p v-if="activo">Hola estoy activo {{activo}}</p>
      <p v-else="activo">Hola estoy activo {{activo}}</p>
      <button @click="activo = !activo">Cambio</button>
      <hr />

      <template v-if="manzanas >0">
        <p>Tenemos {{manzanas}} manzana<span v-if="manzanas > 1">s</span></p>
        <button @click="manzanas--">comprar</button>
      </template>

      <template v-else-if="peras >0">
        <p>Tenemos {{peras}} pera<span v-if="peras > 1">s</span></p>
        <button @click="peras--">comprar</button>
      </template>

      <template v-else-if="mangos >0">
        <p>Tenemos {{mangos}} Mango<span v-if="mangos > 1">s</span></p>
        <button @click="mangos--">comprar</button>
      </template>

      <p v-else>Usted no tiene frutas</p>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
    const app = new Vue({
      el: "#app",
      data: {
        activo: true,
        manzanas: 5,
        peras: 3,
        mangos: 10,
      },
    });
  </script>
</html>
