<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <input type="text" v-model="pais" />
      <p>{{pais}}</p>
      <hr />
      <button @click="mensaje">Mensaje</button>
      <hr />
      <input type="text" v-model="pregunta" />
      {{rsp}}
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
    const app = new Vue({
      el: "#app",
      data: {
        pais: "Ecuador",
        pregunta: "",
        rsp: "",
        test: "Valor Viejo",
      },
      methods: {
        mensaje() {
          console.log("Metodo mensaje");
          this.test = "Valor nuevo";
        },
      },
      watch: {
        pais: "mensaje",
        test: function (newVal, oldVal) {
          console.log(newVal, oldVal);
        },
        pregunta: function () {
          console.log(this.pregunta.indexOf("?"));
          if (this.pregunta.indexOf("?") == -1) {
            this.rsp =
              "Me preguntaste algo?.. recuerda el signo de interrogación";
            return;
          }

          this.rsp = "Pensanding...";

          setTimeout(() => {
            if (Math.round(Math.random()) == 1) {
              this.rsp = "Si";
            } else {
              this.rsp = "No";
            }
          }, 2000);
        },
      },
    });
  </script>
</html>
